.About {
  display: flex;
  padding: 100px 0 150px 0;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.About img {
  width: 200px;
  height: auto;
  border-radius: 100%;
}

.About p {
  width: 40vw;
  text-align: left;
  margin-left: 40px;
}

@media screen and (max-device-width: 845px) {
  .About {
    padding: 50px 0 150px 0;
  }
  .About p {
    width: 90vw;
    margin-left: 0;
  }
}
