.ContactButton {
  border: 2px solid #000000;
  background: #0000004d;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  color: #000000;
  transition: 0.8s;
  overflow: hidden;
}

.ContactButton::before {
  background: #3a473d;
}
